.Txt-topic{
    color:"green";
    background-color:"Gray";
    font-size: 4rem;
    font-weight: 900;
}

.Txt-detail {
    color:rgb(192, 82, 82);
    font-size:3rem;
    font-style: italic;
}

.Txt-topic:hover {
    color: black;
    background-color: white;
    cursor: pointer;


}


#navbar {
    background-color: hwb(162 49% 21%);
    color:hwb(325 29% 17%);
    padding: 1rem;
    text-align:center;
}

p,h1.h2,h3,a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin:10;
    padding:0;
    box-sizing: border-box;
    border-radius:20px;
}