
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: open-sans, sans-serif;
}

body {
    background-color: antiquewhite;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.login-container {
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fafbfc;
    box-shadow: 0 2px 5px rgba(0, 0,0,0.1);
    margin: auto;   

}
.login-icon {
    display: block;
    margin-bottom: 20px;
    text-align: center; 
}

.login-icon i {
    font-size: 50px;
    color: #333;
}

h2.login-topic {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

form input[type="text"],
form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    font-size: 1rem;
}

form button[type="submit"] {
    background-color: #2dba4e;
    color: white;
    border:none;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600px;
    cursor: pointer;

}

.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.divider .divider-line{
    border-top: 1px solid #bbbbbb;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    z-index: 1;

}

.divider span {
    background-color: #fff;
    padding: 0px 10px;
    font-size: 1.2rem;
    color: #777777;
    z-index : 2;
    position: relative;
    font-weight: 600;
  
}

button.btn-social{
    background-color: #dad9d9;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    padding : 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

button.btn-social i {
    margin-right: 10px;
    font-size: 1.8rem;
    color:	#2b3137;
}

.signup-link {
    text-align:  center;
    font-size:  1.2rem;
    margin-top: 20px;
}

.signup-link a {
    color: #258d15;
    text-decoration: none;
    font-weight: 600;
}

button.btn-social:hover {
    background-color: #adffb5;  
}

